@import "../1_global/00_required.less";
/* ==========================================================================
= 2. C102 - Header (inc. Login options list & Country selector)
========================================================================== */

#header {
    background: @color-white;
}
.header-brand {
    .clearfix();
    margin: 0 auto;
    width: 980px;
    position: relative;
    padding: 20px 0 12px;
    .logo {
        width: 158px;
        float: left;
    }
    .top-area {
        float: right;
        z-index: 99;
        position: relative;
        .unit-name, .header-search {
            display: inline-block;
        }
        .unit-name {
            color: @color-cerulean;
            font-size: 1.5em;
            letter-spacing: 0;
            line-height: 27px;
            margin: 0;
            float: left;
        }
        .header-search {
            border-left: 1px solid #0099e9;
            margin-left: 10px;
            .search-toggle {
                background: url(../img/search-icon.png) no-repeat 10px 4px transparent;
                width: 35px;
                height: 25px;
                cursor: pointer;
                display: block;
                text-indent: -9999px;
            }
            .search-toggle.open {
                background: url(../img/close-icon.png) no-repeat 10px 4px transparent;
            }
            &:hover {
                //background: url(../img/close-icon.png) no-repeat 10px 4px transparent;
            }
            .clearfix();
            form {
                display: none;
                width: 400px;
                .box-shadow (0px, 2px, 5px, 0.5);
                .clearfix();
                padding: 15px;
                position: absolute;
                top: 25px;
                right: 0px;
                background: white;
            }
            label {
                display: block;
                float: left;
                text-indent: -9999px;
            }
        }
    }
}